<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Agbalumo&family=Bungee+Spice&family=EB+Garamond:wght@400;500;600&family=Kay+Pho+Du:wght@400;500&family=Libre+Baskerville:wght@400;700&family=Neuton:wght@200;300;400;700;800&family=Nosifer&family=Noto+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;1,300;1,400&display=swap" rel="stylesheet">
    <title>MongoDB Database Application</title>
    <style>
        main {
            display: flex;
            justify-content: center;
            width: 100vw;
            height: 100vh;
            background-color: rgb(225, 225, 225);
            background-image: url(/data/pyramid.jpeg);
            background-size: 98vh;
            background-repeat: no-repeat;
            background-position: top 10px left 50%;
        }
        a {
            margin: 0px 10px 0px 10px;
            color: salmon;
        }
    </style>
</head>

<body>
    <h1>Categories</h1>
    <nav class="myNavStyle">
        <a class="menuLinkStyle" href="/">Home</a>
        <a class="menuLinkStyle" href="../../categories">Categories</a>
        <a class="menuLinkStyle" href="../../products">Products</a>
        <a class="menuLinkStyle" href="../../vendors">Vendors</a>
    </nav>
    <br>
    <hr>

    <div id="catInfo">
        <form  action="/categories/<%=categories._id%>" method="POST">
            <label for="name">Category Name</label>
            <select onchange="this.nextElementSibling.value=this.value" name="category" id="category" class="category">>
                <option value=""></option>
                <% for(let category of categories) { %>
                    <option value="<%=category._id%>"><%= category.categoryName %></option>
                    <% } %>
            </select>
            <!-- <input class="select-editable" type="text" name="format" value=""/> -->
            <a id="edit" href="">Edit Current</a>
            <a id="add" href="/categories/newCat">Add New</a>
            <a id="del" href="">Delete Current</a>
        </form>
    </div>
    <br>
    <br>
    <main>
    </main>
        <script>
            let catId = '';
            document.getElementById('category').addEventListener('change', function(e) {
                catId = e.target.value;
                alert(catId);
            })
            document.getElementById('edit').addEventListener('click', function(e) {
                const editProduct = document.getElementById('edit');
                editProduct.setAttribute('href', `/categories/${catId}`)
            })
            document.getElementById('del').addEventListener('click', function(e) {
                const delProduct = document.getElementById('del');
                delProduct.setAttribute('href', `/categories/${catId}`)
            })
        </script>

</body>

</html>