body {
    overflow: hidden;
}
h1 {
    display: flex;
    justify-content: center;
    font-family: 'Kay Pho Du', serif;
    font-weight: 700;
    font-size: 3em;
    margin-top: 50px;
}

.myNavStyle {
    display: flex;
    flex-flow: row wrap;
    font-size: 1.35em;
    margin-top: 35px;
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.menuLinkStyle {
    list-style-type: none;
    font-family: 'Arsenal', sans-serif;
    text-decoration: none;
    color: #8e8b8b;
    margin: -20px 10px 0px 10px;
}
#prodInfo {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    font-family: 'Arsenal', sans-serif;
    margin: 50px auto 0px auto;
    font-size: 1.25em;
}
#vendInfo {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    font-family: 'Arsenal', sans-serif;
    margin: 50px 0px 0px 30vw;
    font-size: 1.25em;
}
#catInfo {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    font-family: 'Arsenal', sans-serif;
    margin-top: 50px;
    font-size: 1.25em;
}
.category {
    font-family: 'Arsenal', sans-serif;
    font-size: 1em;
}
hr {
    margin-top: 30px;
    height: 10px;
}
a:hover {
    color: #000;
}

a:active,
a:focus {
    /* color: #475F6B !important; */
    color: #1f4456;
}
#paragraphs {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    font-family: 'Arsenal', sans-serif;
    margin: 50px 0px 0px 20vw;
}

.failure1 {
    font-family: 'Kay Pho Du', serif;
    font-weight: 500;
    color: maroon;
    font-size: 2em;
}
.failure2 {
    color: #357291;
    font-size: 1.5em;
}
.failure3 {
    color: black;
}
.failure4 {
    color: blue;
}
#apvDiv {
    display: flex;
    justify-content: center;
    font-size: 2em;
}
.apvAdd, .apvLI {
    color: #357291;

}
/* ul {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    margin: 25px 0px 100px 100px;
}
li {
    list-style-type: none;
    font-family: 'Arsenal', sans-serif;
    font-size: 1em;
} */
#ulDiv {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    width: 85vw;
    height: 50vh;
    margin: 25px 0px 0px 100px;
    overflow: auto;

}
#ulDiv ul {
    display: block;
    width: 9vw;
    top: 30px;
}
#ulDiv li {
    display: block;
    list-style-type: none;
    font-family: 'Arsenal', sans-serif;
    font-size: 1em;
}
#ulDiv .apvCAT {
    color: red;
    font-size: 1.5em;
}




